%title {
    font-size: 1.3rem;
    text-align: center;
    height: 60px;
    @media screen and (max-width: 1599px) and (min-width: 576px) {
        font-size: 1.2em;
        height: 55px;
    }
    @media screen and (max-width: 575px) {
        font-size: 0.7rem;
        height: 40px;
    }
}

%chartTab {
    background-color: #f0f2f5;
    border-radius: 3px;
    padding: 10px;
}

.chart {
    max-height: 500px;
        @media screen and (max-width: 1599px) and (min-width: 992px) {
            max-height: 400px;
        }
        @media screen and (max-width: 991px) and (min-width: 576px) {
            max-height: 350px;
        }
         @media screen and (max-width: 575px) {
            max-height: 200px;
        }
}

.analyticsHeader {
    display: flex;
    flex-wrap: wrap;
    &__title {
        font-size: 2rem;
        font-weight: 600;
        line-height: 2rem;
    }
}

.spinner {
    display: block;
    margin-top: 100px;
}

.chartsContainer {
    &__chart {
        @extend %chartTab;
        &__title {
            @extend %title
        }
    }
    
}

.dynamicChartContainer {
    @extend %chartTab;
    min-height: 400px;
        &__title {
            @extend %title
        }
        &__dynamicChart { 
        }
        &__list {
            overflow-block: scroll;
        }
        &__rangePicker {
            @media screen and (min-width: 677px) {
                margin-left: 3px;
            }
            @media screen and (min-width: 768px) {
                position: absolute;
                right: 0px;
                margin-right: 16px;
            }
            @media screen and (min-width: 992px) {
                margin-right: 24px;
            }
            @media screen and (min-width: 1200px) {
                margin-right: 32px;
            }
            @media screen and (min-width: 1600px) {
                margin-right: 40px;
            }
        }
        &__spinner {
            display: block;
            margin-top: 200px;
        }
}