.chart {
    max-height: 500px;
        @media screen and (max-width: 1599px) and (min-width: 992px) {
            max-height: 400px;
        }
        @media screen and (max-width: 991px) and (min-width: 576px) {
            max-height: 350px;
        }
         @media screen and (max-width: 575px) {
            max-height: 200px;
        }
}

.spinner {
    display: block;
    margin-top: 100px;
}

.chartsContainer {
    &__chart {
      background-color: #f0f2f5;
      border-radius: 3px;
      padding: 10px;
        &__title {
            font-size: 1.3rem;
            text-align: center;
            height: 60px;
            @media screen and (max-width: 1599px) and (min-width: 576px) {
                font-size: 1.2em;
                height: 55px;
            }
            @media screen and (max-width: 575px) {
                font-size: 0.7rem;
                height: 40px;
            }
        }
    }
    
}