@font-face {
  font-family: 'Roboto';
  src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
}

@font-face {
  font-family: 'Intro';
  src: url('/fonts/IntroDemo-BlackCAPS.ttf');
}
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Roboto';
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button:focus,
input:focus {
  outline: none;
}

button {
  border: none;
  background: transparent;
}

/* custom scroll bar */

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgb(60, 60, 60);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #000;
}


.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 25px;
  margin: auto;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.exclamation-icon {
  color: rgb(196, 0, 0);
  line-height: 0;
  font-size: 2rem;
  position: relative;
  left: -7px;
  top: 0px;
}

.spinner {
  display: block;
  margin-top: 100px;
}

.success-icon {
  color: green;
  line-height: 0;
  font-size: 2rem;
  position: relative;
  left: -7px;
  top: 0px;
}
