html {
	scroll-behavior: smooth;
}

body {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 25px;
  margin: auto;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.exclamation-icon {
  color: rgb(196,0,0);
  line-height: 0;
  font-size: 2rem;
  position: relative;
  left: -7px;
  top: 0px
}

.spinner {
    display: block;
    margin-top: 100px;
}

.success-icon {
  color: green;
  line-height: 0;
  font-size: 2rem;
  position: relative;
  left: -7px;
  top: 0px
}