@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@font-face {
  font-family: 'Intro';
  src: url('/fonts/IntroDemo-BlackCAPS.woff2') format('woff2'),
    url('/fonts/IntroDemo-BlackCAPS.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
html {
  /* scroll-behavior: smooth; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* scroll-behavior: smooth; */
  font-family: 'Roboto', sans-serif;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  /* scroll-behavior: smooth; */
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button:focus,
input:focus {
  outline: none;
}

button {
  border: none;
  background: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* custom scroll bar */

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgb(60, 60, 60);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #000;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 25px;
  margin: auto;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.exclamation-icon {
  color: rgb(196, 0, 0);
  line-height: 0;
  font-size: 2rem;
  position: relative;
  left: -7px;
  top: 0px;
}

.spinner {
  display: block;
  margin-top: 100px;
}

.success-icon {
  color: green;
  line-height: 0;
  font-size: 2rem;
  position: relative;
  left: -7px;
  top: 0px;
}

.ant-carousel .slick-list .slick-slide>div>div {
  text-align: center;
}

a {
  color: #000;
}