.reviewsHeader {
  display: flex;
  flex-wrap: wrap;

  &__title {
    font-size: 2rem;
    font-weight: 600;
    line-height: 2rem;
    margin-bottom: 20px;
  }
}



.spinner {
  display: block;
  margin-top: 100px;
}