.deleteButtonSpan {
    padding-left: 5px;
}

.brandsHeader {
    display: flex;
    flex-wrap: wrap;

    &__title {
        font-size: 2rem;
        font-weight: 600;
        line-height: 2rem;
        margin-bottom: 20px;
    }

    &__createBrandButton {
        margin-right: 0px;
        margin-left: auto;
        font-size: 0.9rem;
    }
}



.spinner {
    display: block;
    margin-top: 100px;
}

.createBrandForm {
    &__buttonsStack {
        &__submitButton {
            margin-right: 10px;
        }
    }
}

.createBrandHeader {
    &__title {
        font-size: 2rem;
        font-weight: 600;
        line-height: 2rem;
        margin-bottom: 20px;
    }
}

.image {
    width: 80px;
    height: 80px;
    background-size: contain;
    background-image: center;
    background-repeat: no-repeat;
}