.bannersTab {
    max-height: 800px;
    &__advertisementImageContainer {
        overflow: scroll;
        &__image {
            width: 500px;
            @media screen and (max-width: 1599px) and (min-width: 1200px) {
                width: 350px;
            }
            @media screen and (max-width: 1199px) and (min-width: 992px) {
                width: 300px;
            }
            @media screen and (max-width: 991px) {
                width: 250px;
            }
        }
    }
    &__slidesImageContainer {
        &__image {
            height: 500px;

            @media screen and (max-width: 1599px) and (min-width: 1200px) {
                height: 350px;
            }
            @media screen and (max-width: 1199px) and (min-width: 992px) {
                height: 300px;
            }
            @media screen and (max-width: 991px) and (min-width: 562px){
                height: 250px;
            }
            @media screen and (max-width: 561px) {
                height: 175px;
            }
        }
    }
}

.updateBannerForm {
    &__buttonsStack {
        &__submitButton {
            margin-right: 10px;
        }
    }
}

.spinner {
    display: block;
    margin-top: 100px;
}