.deleteButtonSpan {
    padding-left: 5px;
}

.productsHeader {
    display: flex;
    flex-wrap: wrap;

    &__title {
        font-size: 2rem;
        font-weight: 600;
        line-height: 2rem;
        margin-bottom: 20px;
    }

    &__createProductButton {
        margin-right: 0px;
        margin-left: auto;
        font-size: 0.9rem;
    }
}



.spinner {
    display: block;
    margin-top: 100px;
}

.createProductForm {
    &__buttonsStack {
        &__submitButton {
            margin-right: 10px;
        }
    }
}

.createProductHeader {
    &__title {
        font-size: 2rem;
        font-weight: 600;
        line-height: 2rem;
        margin-bottom: 20px;
    }
}

.image {
    width: 120px;
    height: 120px;
    background-size: contain;
    background-image: center;
    background-repeat: no-repeat;
    margin-bottom: 5px;
}

.productsTable {
    &__contentStyle {
        height: 120px;
        color: black;
        line-height: 80px;
        text-align: center;
        background: none;
    }

    &__colorBoxStyle {
        width: 20px;
        height: 20px;
        border: solid 1px #dfdfdf;
        margin: 1px;
        border-radius: 2px;
        float: left
    }

    &__linkName {
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        &:hover {
            font-weight: 600;
        }
    }
}

.list-item {
    &__title {
        width: 200px;
    }
}

.product-variants {
    padding-bottom: 20px;
}

.product-variant {
    padding-left: 20px;
    position: relative;

    &__title {
        margin-bottom: 10px;
    }

    &__remove {
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;
    }
}