%title {
   font-size: 2rem;
    font-weight: 600;
    line-height: 2rem; 
}

.bannersHeader {
    display: flex;
    flex-wrap: wrap;

    &__title {
        @extend %title;
        margin-bottom: 20px;
    }

    &__createBannerButton {
        margin-right: 0px;
        margin-left: auto;
        font-size: 0.9rem;
    }
}

.createBannerHeader {
    &__title {
        @extend %title;
    }
}